# Project 1 Sistem Rekomendasi Produk E-Commerce

## Import library & Load Data

In [42]:
import pandas as pd

# Source dataset https://www.kaggle.com/datasets/carrie1/ecommerce-data
dataFile = pd.read_csv("Project1-invoice-data.csv", encoding="ISO-8859-1")

dataFile
print('Rows: ', dataFile.shape[0])
print('Columns: ', dataFile.shape[1])
print('Columns Features: ', dataFile.columns.tolist())
print('Non Values: ', dataFile.isnull().sum().values.sum())

Rows:  541909
Columns:  8
Columns Features:  ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
Non Values:  136534

## Membersihkan Data

In [43]:
dataFile.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [44]:
dataFile = dataFile.loc[dataFile['Quantity'] > 0]
dataFile = dataFile.loc[dataFile['UnitPrice'] > 0]
dataFile.describe()

            Quantity      UnitPrice     CustomerID
count  530104.000000  530104.000000  397884.000000
mean       10.542037       3.907625   15294.423453
std       155.524124      35.915681    1713.141560
min         1.000000       0.001000   12346.000000
25%         1.000000       1.250000   13969.000000
50%         3.000000       2.080000   15159.000000
75%        10.000000       4.130000   16795.000000
max     80995.000000   13541.330000   18287.000000

In [45]:
dataFile.isnull().sum()
dataFile.loc[dataFile['CustomerID'].isna()].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,NaN,United Kingdom
1447,536544,21790,VINTAGE SNAP CARDS,9,12/1/2010 14:32,1.66,NaN,United Kingdom

In [46]:
dataFile = dataFile.dropna(subset='CustomerID')
print('Rows:', dataFile.shape[0])

Rows: 397884

In [47]:
customers_matrix = dataFile.pivot_table(index="CustomerID", columns="StockCode", values="Quantity", aggfunc="sum")
customers_matrix

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
12349.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18281.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18282.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
18287.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
customers_matrix = (customers_matrix > 0).astype(int)
customers_matrix

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18280.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18281.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18282.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18283.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18287.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Mendapatkan Rekomendasi Produk berdasarkan Kode Produk

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

customers_in_matrix = pd.DataFrame(cosine_similarity(customers_matrix.T))
customers_in_matrix

,0,1,2,3,4,5,6,7,8,9,...,3655,3656,3657,3658,3659,3660,3661,3662,3663,3664
0,1.000000,0.000000,0.094868,0.091287,0.0,0.000000,0.090351,0.062932,0.098907,0.095346,...,0.000000,0.0,0.000000,0.0,0.000000,0.029361,0.0,0.067591,0.0,0.078217
1,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.032774,0.045655,0.047836,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.016345,0.0,0.000000
2,0.094868,0.000000,1.000000,0.115470,0.0,0.000000,0.057143,0.059702,0.041703,0.060302,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.071247,0.0,0.010993
3,0.091287,0.000000,0.115470,1.000000,0.0,0.000000,0.164957,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
4,0.000000,0.000000,0.000000,0.000000,1.0,0.447214,0.063888,0.044499,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3660,0.029361,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.036955,0.019360,0.055989,...,0.000000,0.0,0.000000,0.0,0.000000,1.000000,0.0,0.026460,0.0,0.020413
3661,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.104257,0.150756,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,1.0,0.000000,0.0,0.000000
3662,0.067591,0.016345,0.071247,0.000000,0.0,0.000000,0.071247,0.070893,0.066852,0.107409,...,0.050379,0.0,0.041135,0.0,0.090121,0.026460,0.0,1.000000,0.0,0.070490
3663,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,1.0,0.000000
3664,0.078217,0.000000,0.010993,0.000000,0.0,0.000000,0.070669,0.021877,0.034383,0.058004,...,0.038866,0.0,0.031734,0.0,0.017381,0.020413,0.0,0.070490,0.0,1.000000

In [50]:
customers_in_matrix.columns = customers_matrix.T.index
customers_in_matrix['StockCode'] = customers_matrix.T.index
customers_in_matrix = customers_in_matrix.set_index('StockCode')

customers_in_matrix

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,1.000000,0.000000,0.094868,0.091287,0.0,0.000000,0.090351,0.062932,0.098907,0.095346,...,0.000000,0.0,0.000000,0.0,0.000000,0.029361,0.0,0.067591,0.0,0.078217
10080,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.032774,0.045655,0.047836,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.016345,0.0,0.000000
10120,0.094868,0.000000,1.000000,0.115470,0.0,0.000000,0.057143,0.059702,0.041703,0.060302,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.071247,0.0,0.010993
10123C,0.091287,0.000000,0.115470,1.000000,0.0,0.000000,0.164957,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
10124A,0.000000,0.000000,0.000000,0.000000,1.0,0.447214,0.063888,0.044499,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C2,0.029361,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.036955,0.019360,0.055989,...,0.000000,0.0,0.000000,0.0,0.000000,1.000000,0.0,0.026460,0.0,0.020413
DOT,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.104257,0.150756,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,1.0,0.000000,0.0,0.000000
M,0.067591,0.016345,0.071247,0.000000,0.0,0.000000,0.071247,0.070893,0.066852,0.107409,...,0.050379,0.0,0.041135,0.0,0.090121,0.026460,0.0,1.000000,0.0,0.070490
PADS,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,1.0,0.000000
POST,0.078217,0.000000,0.010993,0.000000,0.0,0.000000,0.070669,0.021877,0.034383,0.058004,...,0.038866,0.0,0.031734,0.0,0.017381,0.020413,0.0,0.070490,0.0,1.000000

In [51]:
top_10_recommended = list(customers_in_matrix.loc["10124A"].sort_values(ascending=False).iloc[1:11].index)
top_10_recommended

['10124G',
 '21228',
 '21018',
 '84683',
 '47351B',
 '84466',
 '35913B',
 '82011A',
 '22104',
 '85095']

In [52]:
top_10_recommended_product = dataFile.loc[dataFile['StockCode'].isin(top_10_recommended), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_recommended]
top_10_recommended_product

                                  Description
StockCode
10124G               ARMY CAMO BOOKCOVER TAPE
21228               POCKET MIRROR "GLAMOROUS"
21018      BIRD BOX CHRISTMAS TREE DECORATION
84683              CLASSICAL ROSE CANDLESTAND
47351B                  BLUE  VOILE LAMPSHADE
84466                      TOP SECRET PEN SET
35913B     WHITE/PINK CHICK EASTER DECORATION
82011A        BATHROOM SCALES, TROPICAL BEACH
22104              MIRROR MOSAIC CANDLE PLATE
85095               THREE CANVAS LUGGAGE TAGS

## Sistem Rekomendasi Produk dengan membandingkan customer

In [53]:
customers_in_matrix = pd.DataFrame(cosine_similarity(customers_matrix))

customers_in_matrix

,0,1,2,3,4,5,6,7,8,9,...,4328,4329,4330,4331,4332,4333,4334,4335,4336,4337
0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.0,0.029709,0.052668,0.000000,0.032844,0.062318,0.000000,0.113776,0.109364,0.012828
2,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.0,0.064282,0.113961,0.000000,0.000000,0.000000,0.000000,0.000000,0.170905,0.083269
3,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.0,0.105868,0.000000,0.000000,0.039014,0.000000,0.000000,0.067574,0.137124,0.030475
4,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.044866,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4333,0.0,0.062318,0.000000,0.000000,0.000000,0.000000,0.0,0.041523,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.105409,1.000000,0.119523,0.000000,0.000000,0.000000
4334,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.049629,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.119523,1.000000,0.000000,0.046613,0.000000
4335,0.0,0.113776,0.000000,0.067574,0.000000,0.037582,0.0,0.000000,0.160128,0.079305,...,0.0,0.174078,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.017800,0.000000
4336,0.0,0.109364,0.170905,0.137124,0.044866,0.080278,0.0,0.113354,0.034204,0.093170,...,0.0,0.037184,0.016480,0.043602,0.000000,0.000000,0.046613,0.017800,1.000000,0.096334
4337,0.0,0.012828,0.083269,0.030475,0.000000,0.033898,0.0,0.000000,0.108324,0.000000,...,0.0,0.000000,0.104383,0.000000,0.043396,0.000000,0.000000,0.000000,0.096334,1.000000

In [54]:
customers_in_matrix.columns = customers_matrix.index
customers_in_matrix['CustomerID'] =customers_matrix.index
customers_in_matrix = customers_in_matrix.set_index('CustomerID')
customers_in_matrix.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
12347.0,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.0,0.029709,0.052668,0.0,0.032844,0.062318,0.0,0.113776,0.109364,0.012828
12348.0,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.0,0.064282,0.113961,0.0,0.000000,0.000000,0.0,0.000000,0.170905,0.083269
12349.0,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.0,0.105868,0.000000,0.0,0.039014,0.000000,0.0,0.067574,0.137124,0.030475
12350.0,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.044866,0.000000

In [55]:
customers_in_matrix.loc[12346.0].sort_values(ascending=False)

CustomerID
12346.0    1.000000
15526.0    0.500000
15567.0    0.377964
17309.0    0.301511
17030.0    0.301511
             ...
14352.0    0.000000
14353.0    0.000000
14354.0    0.000000
14355.0    0.000000
18287.0    0.000000
Name: 12346.0, Length: 4338, dtype: float64

In [56]:
item_12346 = set(customers_matrix.loc[12346].iloc[customers_matrix.loc[12346].to_numpy().nonzero()].index)
item_12346

{'23166'}

In [57]:
item_15525 = set(customers_matrix.loc[15525].iloc[customers_matrix.loc[15525].to_numpy().nonzero()].index)
item_15525

{'21098',
 '21212',
 '21403',
 '21452',
 '21587',
 '21591',
 '21615',
 '21619',
 '21620',
 '21731',
 '21974',
 '21976',
 '21992',
 '21993',
 '22077',
 '22082',
 '22086',
 '22128',
 '22130',
 '22150',
 '22197',
 '22217',
 '22326',
 '22367',
 '22398',
 '22411',
 '22423',
 '22434',
 '22438',
 '22445',
 '22453',
 '22454',
 '22488',
 '22493',
 '22549',
 '22568',
 '22570',
 '22584',
 '22585',
 '22587',
 '22605',
 '22607',
 '22616',
 '22621',
 '22629',
 '22630',
 '22634',
 '22635',
 '22643',
 '22722',
 '22738',
 '22743',
 '22744',
 '22812',
 '22813',
 '22815',
 '22839',
 '22865',
 '22867',
 '22899',
 '22900',
 '22910',
 '22911',
 '22931',
 '22933',
 '22938',
 '22960',
 '22961',
 '22963',
 '22966',
 '22968',
 '22972',
 '22974',
 '22975',
 '22981',
 '22989',
 '23078',
 '23079',
 '23080',
 '23081',
 '23084',
 '23126',
 '23128',
 '23154',
 '23192',
 '23198',
 '23201',
 '23203',
 '23235',
 '23236',
 '23237',
 '23239',
 '23240',
 '23242',
 '23254',
 '23256',
 '23275',
 '23286',
 '23289',
 '23290',
 '23291',
 '23292',
 '23293',
 '23296',
 '23297',
 '23299',
 '23307',
 '23328',
 '23351',
 '23352',
 '23354',
 '23378',
 '23392',
 '23494',
 '23497',
 '23505',
 '23506',
 '23510',
 '23511',
 '23512',
 '23559',
 '23582',
 '84032B',
 '84378',
 '84819',
 '84828',
 '84985A',
 '84997D',
 '85049A',
 '85049E',
 '85114B',
 '85114C',
 'M'}

In [58]:
product_recommended_for_12346 = item_15525 - item_12346
product_recommended_for_12346

{'21098',
 '21212',
 '21403',
 '21452',
 '21587',
 '21591',
 '21615',
 '21619',
 '21620',
 '21731',
 '21974',
 '21976',
 '21992',
 '21993',
 '22077',
 '22082',
 '22086',
 '22128',
 '22130',
 '22150',
 '22197',
 '22217',
 '22326',
 '22367',
 '22398',
 '22411',
 '22423',
 '22434',
 '22438',
 '22445',
 '22453',
 '22454',
 '22488',
 '22493',
 '22549',
 '22568',
 '22570',
 '22584',
 '22585',
 '22587',
 '22605',
 '22607',
 '22616',
 '22621',
 '22629',
 '22630',
 '22634',
 '22635',
 '22643',
 '22722',
 '22738',
 '22743',
 '22744',
 '22812',
 '22813',
 '22815',
 '22839',
 '22865',
 '22867',
 '22899',
 '22900',
 '22910',
 '22911',
 '22931',
 '22933',
 '22938',
 '22960',
 '22961',
 '22963',
 '22966',
 '22968',
 '22972',
 '22974',
 '22975',
 '22981',
 '22989',
 '23078',
 '23079',
 '23080',
 '23081',
 '23084',
 '23126',
 '23128',
 '23154',
 '23192',
 '23198',
 '23201',
 '23203',
 '23235',
 '23236',
 '23237',
 '23239',
 '23240',
 '23242',
 '23254',
 '23256',
 '23275',
 '23286',
 '23289',
 '23290',
 '23291',
 '23292',
 '23293',
 '23296',
 '23297',
 '23299',
 '23307',
 '23328',
 '23351',
 '23352',
 '23354',
 '23378',
 '23392',
 '23494',
 '23497',
 '23505',
 '23506',
 '23510',
 '23511',
 '23512',
 '23559',
 '23582',
 '84032B',
 '84378',
 '84819',
 '84828',
 '84985A',
 '84997D',
 '85049A',
 '85049E',
 '85114B',
 '85114C',
 'M'}

In [59]:
product_recommended_for_12346_result = dataFile.loc[dataFile['StockCode'].isin(product_recommended_for_12346), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')
product_recommended_for_12346_result[:10]

                                   Description
StockCode
22960                 JAM MAKING SET WITH JARS
22326      ROUND SNACK BOXES SET OF4 WOODLAND
22629                      SPACEBOY LUNCH BOX
21731            RED TOADSTOOL LED NIGHT LIGHT
22900          SET 2 TEA TOWELS I LOVE LONDON
22086          PAPER CHAIN KIT 50'S CHRISTMAS
21212          PACK OF 72 RETROSPOT CAKE CASES
22961                   JAM MAKING SET PRINTED
22411        JUMBO SHOPPER VINTAGE RED PAISLEY
22438        BALLOON ART MAKE YOUR OWN FLOWERS